
.hero-slider__slider {   // prevents all slides from displaying vertically before slick has initialized
  visibility: hidden !important;
  height: auto;
}

.hero-slider__slider img {
  visibility: hidden;
  position: absolute;
  height: 0;
}

.slick-initialized.hero-slider__slider img {
  visibility: visible;
  position: relative;
  height: auto;
}

.slick-initialized {   // makes slides visible again once slick has initialized
  visibility: visible !important;
}
