
// These styles are imported into the kcc-theme.css stylesheet and loaded with the page
// The styles in `_hero-slider.scss` are imported conditionally via Webpack's dynamic JS imports
.hero-slider__slider {   // prevents all slides from displaying vertically before slick has initialized
  visibility: hidden !important;
  height: auto;
}

.hero-slider__slider img {
  visibility: hidden;
  position: absolute;
  height: 0;
}

.slick-initialized.hero-slider__slider img {
  visibility: visible;
  position: relative;
  height: auto;
}

.slick-initialized {   // makes slides visible again once slick has initialized
  visibility: visible !important;
}
